{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(loginForm) }}

    {{ form_start(loginForm) }}
        {{ form_row(loginForm.email) }}
        {{ form_row(loginForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(loginForm.name) }}
        {{ form_row(loginForm.surname) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(loginForm) }}
{% endblock %}